include pyproject.toml
include README.md
include LICENSE
include BUILD.md


recursive-include include *.h
recursive-include src *.c


recursive-include mupdf/include *.h

include lib/mupdf/libmupdf.so*
include lib/mupdf/libmupdf.dylib
include lib/mupdf/*.dll

recursive-include go *.go *.c *.h
include go/go.mod
include go/go.sum

prune build
prune dist
prune *.egg-info
prune **/__pycache__
global-exclude *.pyc *.pyo
